table {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  width: 340px;
  padding: 20px;
  box-shadow: -4px 2px 10px 0px rgba(145, 145, 145, 1);
  border-radius: 10px;
  text-align: center;
}
tr {
  display: flex;
  justify-content: space-between;
  border-bottom: #cdcdcd 1px solid;
  padding: 5px;
}
